<li><a><i class="fa fa-users"></i> <%= t('admin.sidemenu_5.title') %> <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu" style="display: none">
    <li>
      <%= link_to t('admin.users.title'), admin_members_users_path %>
    </li>
    <li>
      <%= link_to t('admin.customers.title'), admin_members_customers_path %>
    </li>
    <li>
      <%= link_to t('admin.business_partners.title'), admin_members_bps_path %>
    </li>
    <li>
      <%= link_to t('admin.system_admins.title'), admin_members_system_admins_path %>
    </li>
    <li>
      <%= link_to t('admin.roles.title'), admin_members_roles_path %>
    </li>
  </ul>
</li>