<% provide(:title, t('admin.condo_options.title')) %>

<div class="right_col" role="main">
  <div class="">

    <%= render :partial => 'admin/shared/page_title', :locals => {title: t('admin.condo_options.title'), description: t('admin.condo_options.description')} %>

    <div class="clearfix"></div>
    <div class="row">
      <div class="clearfix"></div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'layouts/admin_menus/condos_sub_tab' %>

        <div class="x_panel">
          <%= render :partial => 'admin/shared/table_title', :locals => {title: t('admin.condo_options.title'), description: t('admin.condo_options.description')} %>
          <div class="x_content">

            <%= render 'pagination' %>
            <%= render :partial => 'table_contents', :locals => {condo_options: @condo_options} %>
            <%= render 'pagination' %>

            <br>
            <%= set_button_new(t('admin.condo_options.buttons.add'), new_admin_condo_option_path) %>
            <%= set_button_csv(t('admin.condo_options.buttons.csv_export'), admin_condo_options_path(format: 'csv')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>