<footer class="ui inverted vertical segment footer">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header"><%= t('front.company_profile.footer_contents.about') %></h4>
        <div class="ui inverted link list">
          <a href="#stories" class="item smooth-scroll"><%= t('front.company_profile.footer_contents.stories') %></a>
          <a href="#service" class="item smooth-scroll"><%= t('front.company_profile.footer_contents.services') %></a>
          <a href="#about-us" class="item smooth-scroll"><%= t('front.company_profile.footer_contents.about_us') %></a>
          <a href="#contact-us" class="item smooth-scroll"><%= t('front.company_profile.footer_contents.contact_us') %></a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header"><%= t('front.company_profile.footer_contents.services') %></h4>
        <div class="ui inverted link list">
          <a href="http://property.suneikii.com/apartments" class="item"><%= t('front.company_profile.footer_contents.apartments') %></a>
          <a href="http://property.suneikii.com/lands" class="item"><%= t('front.company_profile.footer_contents.lands') %></a>
          <a href="http://property.suneikii.com/condos" class="item"><%= t('front.company_profile.footer_contents.condominiums') %></a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header"><%= t('front.company_profile.footer_contents.cp_name') %></h4>
        <p>
          <%= t('front.company_profile.footer_contents.copyright') %>
          <br><%= t('front.company_profile.footer_contents.all_rights_reserved') %></p>
      </div>
    </div>
  </div>
</footer>