<% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-sm btn-primary dropdown-toggle list-header__info--signed-in-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= image_tag gravatar_url, :class => 'control-box__gravatar' %> <%= name %>
        <% if Rails.env == 'development' %>
            <span class="label label-success">:<%= role %></span>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu list-header__info--signed-in-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">登録情報の変更</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="<%= logout_link %>" data-toggle="tooltip" data-method="delete" data-placement="top" title="Logout">ログアウト</a></li>
      </ul>
    </div>

<% else %>
    <button class="btn btn-sm btn-success" onclick="location.href='<%= login_link %>'">ログイン</button>
<% end %>