<section>
  <div class="section-title">
    <%= t('front.lands.property_detail.title') %>
  </div>
  <table class="detailed-info__table">
    <tbody>
    <tr>
      <th><%= t('front.lands.property_detail.made_of') %></th>
      <td><%= @land.made_of %></td>
      <th><%= t('front.lands.property_detail.floors') %></th>
      <td><%= @land.unit_floors %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.parking') %></th>
      <td><%= @land.parking %></td>
      <th><%= t('front.lands.property_detail.number_of_rooms') %></th>
      <td><%= @land.number_of_rooms %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.contract_span') %></th>
      <td><%= @land.contact_span %></td>
      <th><%= t('front.lands.property_detail.update_fee') %></th>
      <td><%= @land.delimited_update_fee %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.utility_fee') %></th>
      <td colspan="3"><%= @land.delimited_utility_fee %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.surety_company') %></th>
      <td> - </td>
      <th><%= t('front.lands.property_detail.house_insurance') %></th>
      <td><%= @land.house_insurance %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.status') %></th>
      <td><%= @land.property_status %></td>
      <th><%= t('front.lands.property_detail.availability') %></th>
      <td><%= @land.availability %></td>
    </tr>
    <tr>
      <th><%= t('front.lands.property_detail.property_id') %></th>
      <td><%= @land.management_id %></td>
      <th><%= t('front.lands.property_detail.deal_way') %></th>
      <td><%= @land.deal_way %></td>
    </tr>
    </tbody>
  </table>
</section>