<div class="container marketing">
  <div class="page-header">
    <h3><%= t('front.lands.confirm.title') %></h3>
  </div>
  <%= form_for @property_inquiry, :url => land_inquiry_thanks_path do |f| %>
    <table class="table">
      <tr>
        <th class="col-xs-4"><%= t('front.lands.confirm.items.property') %></th>
        <td>
          <%= f.hidden_field :land_id, :value => @land.id %>
          <%= @land.name %>
        <td>
      </tr>
      <tr>
        <th class="col-xs-4"><%= t('front.lands.confirm.items.name') %></th>
        <td>
          <%= f.hidden_field :name %>
          <%= @property_inquiry.name %>
        <td>
      </tr>
      <tr>
        <th><%= t('front.lands.confirm.items.email') %></th>
        <td>
          <%= f.hidden_field :email %>
          <%= @property_inquiry.email %>
        </td>
      </tr>
      <tr>
        <th><%= t('front.lands.confirm.items.tel') %></th>
        <td>
          <%= f.hidden_field :tel %>
          <%= @property_inquiry.tel %>
        </td>
      </tr>
      <tr>
        <th><%= t('front.lands.confirm.items.inquiry') %></th>
        <td>
          <%= f.hidden_field :body %>
          <%= simple_format(@property_inquiry.body) %>
        </td>
      </tr>
    </table>
    <br>
    <%= f.submit t('front.lands.confirm.buttons.caption'),
                 :class => 'btn btn-primary',
                 data: { disable_with: t('front.lands.confirm.buttons.sending')} %>
  <% end %>
  </div>
</div>
<br>
