<% provide(:title, "ログイン") %>

<style>
  .sign-in-top__base {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-flow: wrap;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #fff;
    margin-bottom: 30px;
    padding-top: 20px;
    border: 1px #bdc8ca solid;
  }

  .sign-in-top__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  .sign-in-top__right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
  }

    .width-400 {
      width: 400px;
    }
</style>

<div class="container">
  <div class="sign-up-title__base">
    <div class="sign-up-title__caption">
      ログイン画面
    </div>
  </div>

  <div class="sign-in-top__base">

    <div class="sign-in-top__left width-400">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login Form</h1>
          <fieldset class="form-group">
            <%= f.email_field :email, :class => 'form-control' ,:placeholder => 'Enter email', autofocus: true %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.password_field :password , :class => 'form-control', :placeholder => "Password", autocomplete: "off" %>
          </fieldset>


          <p>
          <div class="actions">
            <%= f.submit "Log in", :class => 'btn btn-default submit' %>
          </div>
          <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> <%= f.label :remember_me%>
                </label>
              </div>
          <% end -%>

      <% end %>
    </div>

    <div class="sign-in-top__right width-400">
      <%= render 'devise/shared/provider_logins' %>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>

