<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="main-title__base">
        <div class="main-title--left">
          <div class="main-title__caption">
            <%= params[:province] %>のアパートを探す
          </div>
        </div>
        <div class="main--title-clearfix"></div>
      </div>

      <div class="district-map__base">
        <% unless @districts.nil? %>
            <% @districts.each do |district| %>
                <button class="district-map__item" onclick="location.href='<%= apartments_path(params[:province], district.original_id) %>'">
                  <%= district.name_ja %>
                  <span class="district-map__count"><%= "#{district.apartments.size}" %></span>
                </button>

            <% end %>
        <% end %>
      </div>

      <!--<table class="table table-bordered">-->
        <!--<thead>-->
          <!--<tr>-->
            <!--<th>id</th>-->
            <!--<th>original_id</th>-->
            <!--<th>name_ja</th>-->
            <!--<th>name_th</th>-->
            <!--<th>name_en</th>-->
            <!--<th>url_safe</th>-->
          <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<%= @nil_sub_districts %>-->
        <!--<% @nil_sub_districts.each do |sub_district| %>-->
          <!--<tr>-->
            <!--<td><% sub_district.id %></td>-->
            <!--<td><% sub_district.original_id %></td>-->
            <!--<td><% sub_district.name_ja %></td>-->
            <!--<td><% sub_district.name_th %></td>-->
            <!--<td><% sub_district.name_en %></td>-->
            <!--<td><% sub_district.url_safe %></td>-->
          <!--</tr>-->
        <!--<% end %>-->
        <!--</tbody>-->
      <!--</table>-->
    </div>
  </div>
</div>