<div class="container main">
  <div class="row">
    <div class="col-md-4">
      <div class="explanation-search">
        検索条件の設定・変更
      </div>

      <div class="sideplane__base">
        <div class="sideplane-title">
          <div class="sideplane-title__caption">
            選択中の地域 / 路線・駅
          </div>
        </div>
        <div class="description-body">
          <div class="comming_soon">Comming Soon</div>
        </div>
      </div>

      <div class="sideplane__base">
        <div class="sideplane-title">
          <div class="sideplane-title__caption">
            物件種別
          </div>
        </div>
        <div class="description-body">
          <div class="comming_soon">Comming Soon</div>
        </div>
      </div>

      <div class="sideplane__base">
        <div class="sideplane-title">
          <div class="sideplane-title__caption">
            物件の条件
          </div>
        </div>
        <div class="description-body">
          <div class="comming_soon">Comming Soon</div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="mini-news">
        <a class="mini-news--link" href="#">「Suneikii」は「SNK-Property」に生まれ変わりました</a>
      </div>

      <div class="main-title__base">
        <div class="main-title--left">
          <div class="main-title__caption">
            <%= params[:province].capitalize unless params[:province].nil? %>の物件一覧
          </div>
        </div>
        <div class="main-title--right">
          <button class="main-title__btn">
            <i class="fa fa-envelope"></i> この条件で新着メールを受取る
          </button>
          <button class="main-title__btn">
            <i class="fa fa-save"></i> この条件を保存する
          </button>
        </div>
        <div class="main--title-clearfix"></div>
      </div>

      <%= render 'pagination' %>

      <% @apartments.each do |apartment| %>
          <div class="mainplane__base">
            <div class="mainplane__title">
              <soan class="mainplane__category">土地</soan>
              <soan class="mainplane__type">分譲</soan>
              <a href="<%= apartment_path(apartment.id) %>" class="mainplane__title--link"><%= apartment.name %></a>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mainplane__photo">
                  <a href=""><%= apartment.photo %></a>
                </div>
              </div>
              <div class="col-lg-8 col-md-8 col-xs-12">
                <table class="mainplane__table">
                  <tbody>
                  <tr>
                    <th>交通 <br>/ 所在地</th>
                    <td colspan="3">
                      <%= apartment.transportation %><br>
                      <%= apartment.address %>
                    </td>
                  </tr>
                  <tr>
                    <th>現況</th>
                    <td><%= apartment.apartment_info.availability %></td>
                    <th>建築条件</th>
                    <td><%= apartment.apartment_info.conditions %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="mainplane__sub-info">
              <div class="mainplane__sub-info__title">
                掲載物件への不動産会社コメント
              </div>
              <div class="mainplane__sub-info__body">
                お気軽にご連絡下さい
              </div>
              <table class="mainplane__sub-info__table">
                <thead>
                <th>価格</th>
                <th>土地面積</th>
                <th>坪（坪単価）</th>
                <th>建ぺい率/容積率</th>
                <th>画像</th>
                <th>お気に入り</th>
                <th>詳細</th>
                </thead>
                <tbody>
                <td class="price"><%= apartment.rent_fee %> 万円</td>
                <td><%= apartment.space %></td>
                <td>66.39坪（15万円）</td>
                <td>60% / 200%</td>
                <td>6枚</td>
                <td>
                  <button class="mainplane__btn">
                    <i class="fa fa-save"></i> お気に入りへ
                  </button>
                </td>
                <td>
                  <button class="mainplane__btn" onclick="location.href='<%= apartment_path(apartment.id) %>'">
                    <i class="fa fa-save"></i> 詳細
                  </button>
                </td>
                </tbody>
              </table>
            </div>
          </div>
      <% end %>

      <%= render 'pagination' %>
      <br>
      </div>
    </div>
  </div>
</div>