<style>
  .map-style {
    background: #221455;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    left: 5%;
  }
</style>

<div class="container">

  <%= render 'basic_info' %>

  <%= render 'image_slide' %>

  <div class="contents-gap"></div>

  <div class="thumbnail" style="position: relative;">
    <div id="map" style='width: 100%; height: 400px;'></div>

    <a href="http://maps.google.com/maps?q=<%= @hash[0][:lat] %>,<%= @hash[0][:lng] %>" class="map-style">
      Open Gmap App
    </a>

    <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

        handler.getMap().setZoom(15)
      });
    </script>

  </div><!-- /.col-lg-4 -->

  <%= render 'detailed_info' %>

  <div class="contents-gap"></div>

</div>