  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="<%= admin_path %>" class="site_title"><i class="fa fa-s15"></i> <span><%= Settings.site[:name] %> <%= t('admin.page_title') %></span></a>
      </div>
      <div class="clearfix"></div>

      <div class="profile">
        <div class="profile_pic">
          <%= image_tag current_user.gravatar_url, :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span><%= t('admin.greeting') %></span>
          <h2>
            <%= t('admin.user_name', :name => current_user.name) %>
          </h2>
        </div>
      </div>
      <br />

      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <%= render partial: 'layouts/partials/sub_bars/home' %>
            <%= render partial: 'layouts/partials/sub_bars/site_sub' %>
            <%= render partial: 'layouts/partials/sub_bars/aparts_sub' %>
            <%= render partial: 'layouts/partials/sub_bars/facilities_sub' %>
            <% if can? :read, User %>
              <%= render partial: 'layouts/partials/sub_bars/users_sub' %>
            <% end %>
            <%= render partial: 'layouts/partials/sub_bars/providers_sub' %>
            <% # render partial: 'layouts/partials/sub_bars/tenants_sub' %>
            <%= render partial: 'layouts/partials/sub_bars/reports_sub' %>
          </ul>
        </div>
        <div class="menu_section">
          <h3>Live On</h3>

        </div>
      </div>

      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog fa-spin" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a href="<%= destroy_user_session_path %>" data-toggle="tooltip" data-method="delete" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
