<header>
  <div class="list-header">
    <div class="list-header--left">
      <div class="logo"><%= Settings.site[:name] %></div>
      <div class="description"><a href="#">物件数No.1の不動産・住宅情報サイト <%= Settings.site[:name] %></a></div>
    </div>

    <div class="list-header--right">
      <% if user_signed_in? %>
          <%= image_tag current_user.gravatar_url, :class => 'control-box__gravatar' %>
          <span class="top-header__login-user-name"><%= current_user.name %></span>
          <% if Rails.env %>
              <span class="label label-primary">:<%= current_user.role %></span>
          <% end %>
      <% else %>
          <button class="btn btn-xs btn-default login_btn" onclick="location.href='<%= new_user_session_path %>'">ログイン</button>
      <% end %>
    </div>
  </div>

  <div class="control-box">
    <div class="control-box--left">
      <%= image_tag("snk_logo.jpg", :style => 'width: 100px;', :alt => 'logo') %>
      <button class="control-box__btn" onclick="location.href='<%= apartments_path %>'">
        <i class="fa fa-building"></i>
        アパート
      </button>
      <button class="control-box__btn" disabled>
        <i class="fa fa-plus-square-o"></i>
        土地
      </button>
      <button class="control-box__btn" disabled>
        <i class="fa fa-building-o"></i>
        コンドミニアム
      </button>
    </div>

    <div class="control-box__login-info">
      <p><i class="fa fa-search control-box__icon"></i></p>
      <p class="control-box__counter">
        <% if session[:apartments_session_list].nil? %>
            <%= 0 %>
        <% else %>
            <%= session[:apartments_session_list].size unless session[:apartments_session_list].nil? %>
        <% end %>

      </p>
      <p>最近見た物件</p>
    </div>

    <div class="control-box__login-info">
      <p><i class="fa fa-save control-box__icon"></i></p>
      <p class="control-box__counter">
        <% if session[:apartments_session_list].nil? %>
            <%= 0 %>
        <% else %>
            <%= session[:apartments_session_list].size unless session[:apartments_session_list].nil? %>
        <% end %>
      </p>
      <p>お気に入り</p>
    </div>

  </div>
</header>

<% module_name = params[:controller].split('/')[0] %>
<% unless params[:action] == 'render_404' or module_name == 'admin' %>
  <div class="header-info">
    <div class="container">
      <% no_info_controllers = Array.new %>
      <% no_info_controllers.push('registrations', 'sessions', 'confirmations', 'passwords', 'omniauth_callbacks') %>
      <% unless no_info_controllers.include?(controller.controller_name) %>
        <% if params[:province].nil? %>
            <%= params[:controller].split('/')[1].capitalize %> を検索
        <% else %>
            <%= params[:province].capitalize unless params[:province].nil? %>の<%= params[:controller].split('/')[1].capitalize %>
        <% end %>

        物件一覧ページ。面積（坪数）や価格（坪単価）で絞り込み、簡単に比較・資料請求。
      <% end %>
    </div>
  </div>
<% end %>

<div class="breadcrumb">
  <div class="container">
    <%= render_breadcrumbs separator: ' ▶ ' %>
  </div>
</div>

<div id="page-top">
  <button class="move-top-btn">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>