<footer>
  <div class="container">
    <div class="top-footer__top">
      <div class="top-footer__detail">
        <i class="fa fa-building-o top-footer__icon"></i>
        <span class="top-footer__logo">
        <%= Settings.site[:name].split(' ')[0] %><br>
          <%= Settings.site[:name].split(' ')[1] %>
      </span>
        <div class="top-footer__description">
          不動産・住宅情報の総合サイト<%= Settings.site[:name] %>。
          賃貸から住宅購入、注文住宅、リフォーム、不動産投資など、不動産に関するあらゆるご要望におこたえします。
          不動産用語集や、住まい探しに役立つマニュアルなどの情報も満載。
          キーワードからも<%= Settings.site[:name] %>ならズバッと検索ができます。
          全国の不動産・住宅情報なら、バンコク最大級の<%= Settings.site[:name] %>におまかせ。
        </div>
      </div>

      <div class="top-footer__link-map">
        <div class="content-left">left</div>
        <div class="content-right">right</div>
      </div>
    </div>

  </div>

  <div class="snk-footer">
    <a href="#" class="snk-footer__link"><%= Settings.site[:name] %>とは</a>
    <a href="#" class="snk-footer__link">サイトマップ</a>
    <a href="#" class="snk-footer__link">ご意見・ご要望</a>
    <a href="#" class="snk-footer__link">掲載物件に関するお問合せ</a>
    <a href="#" class="snk-footer__link">サービス利用規約</a>
    <br>
    <a href="#" class="snk-footer__link">免責事項</a>
    <a href="#" class="snk-footer__link">個人情報について</a>
    <a href="#" class="snk-footer__link"><%= Settings.site[:name] %>に掲載する</a>
    <a href="#" class="snk-footer__link">スタッフ募集</a>
    <a href="#" class="snk-footer__link">運営会社について</a>
    <br><br>
    <div style="font-size: 0.8em;">Copyright © <%= Settings.site[:name] %>. All Rights Reserved.</div>
  </div>
</footer>
